<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 리포지토리 계층의 매퍼 인터페이스와 매퍼XML을 연결하는 역할 -->
<mapper namespace="com.javalab.board.repository.CartRepository">

	<insert id="insertCartItem"
		parameterType="com.javalab.board.vo.ShoppingCartVo">
		INSERT INTO SHOPPING_CART (
		SP_CART_ID, 
		MEMBER_ID, 
		PRODUCT_ID, 
		PRODUCT_NAME,
		UNIT_PRICE, 
		QUANTITY)
	VALUES (
		cart_seq.NEXTVAL, 
		#{memberId}, 
		#{productId}, 
		#{productName},
		#{unitPrice}, 
		#{quantity})
	</insert>

	<delete id="deleteCartItem" parameterType="long">
		DELETE FROM SHOPPING_CART 
		WHERE SP_CART_ID = #{spCartId}
	</delete>

	<select id="selectCartItems" parameterType="string" resultType="com.javalab.board.vo.ShoppingCartVo">
    	SELECT * FROM SHOPPING_CART 
    	WHERE MEMBER_ID = #{memberId}
	</select>

    <delete id="clearCart" parameterType="String">
        DELETE FROM SHOPPING_CART 
        WHERE MEMBER_ID = #{memberId}
    </delete>
    
    <!-- 카트아이디를 만들고 개별삭제를 진행하면서 사용안하게 됨  -->
    <select id="selectCartItem" parameterType="map" resultType="com.javalab.board.vo.ShoppingCartVo">
        SELECT * FROM SHOPPING_CART 
        WHERE MEMBER_ID = #{memberId} AND PRODUCT_ID = #{productId}
    </select>
    
    <update id="updateCartItemQuantity">
    	UPDATE shopping_cart
    	SET quantity = #{quantity}
    	WHERE sp_cart_id = #{spCartId}
	</update>
    
</mapper>